ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  list-style-type: none;
  width: 120px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  border-radius: 10px;

  li {
    display: flex;
    margin-bottom: 10px;

    span {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 60px;
      filter: brightness(0.01);

      &.green {
        background-color: #0eff00;
      }

      &.amber {
        background-color: yellow;
      }

      &.red {
        background-color: red;
      }

      &.on {
        filter: brightness(1)
      }
    }
  }
}